$font-stack:    Helvetica, sans-serif;
$primary-color: #e50909;

h3 {
  font: 100% $font-stack;
  color: #900;
  font-size: 30px;
}

.inputValue {

  font: 100% $font-stack;

}

.container {

      position: fixed;
      background: #900;
      left: 0;
      right: 0;
      height: 10px;
}

.test {

text-align: center;
color: $primary-color;
}

.inputValue {

align-items: center;
color: $primary-color;


}
