.add input {
  border: 1px solid #efefef;
  padding: 10px;
  font-size: 16px;
  background-color: #efefef;
  outline: none;
  display: block;
  margin: 10px auto;
}

.add button {
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  background-color: #efefef;
  outline: none;
  display: block;
  margin: 10px auto;
}
